/* src/pages/TimetableManagePage.css */
.timetable-manage-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.timetable-manage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
  flex-shrink: 0;
  background-color: #fff;
}
.header-title-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-title-group h2 {
  font-size: 1.1em;
  font-weight: 600;
}
.add-event-button {
  padding: 8px 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9em;
}

.timetable-manage-main {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
  background-color: #f8f9fa;
}